<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lvbk.xsp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:screenOrientation="portrait" android:name=".LoginActivity"></activity>
        <activity android:screenOrientation="portrait" android:name=".HomeActivity"></activity>
        <activity android:screenOrientation="portrait" android:name=".WallActivity"></activity>
        <activity android:screenOrientation="portrait" android:name=".CamActivity"></activity>
        <activity android:screenOrientation="portrait" android:name=".FollowActivity"></activity>
        <activity android:screenOrientation="portrait" android:name=".UserActivity"></activity>
        <activity android:screenOrientation="portrait" android:name=".SignUpActivity"></activity>
        <activity android:screenOrientation="portrait" android:name=".ImageActivity"></activity>
        <activity android:screenOrientation="portrait" android:name=".FollowingActivity"></activity>
        <activity android:screenOrientation="portrait" android:name=".FollowableActivity"></activity>
        <activity android:screenOrientation="portrait" android:name=".CommentActivity"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
